<single-spa-router>
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful:

  <nav>
    <application name="@org/navbar"></application>
  </nav>
  <route path="settings">
    <application name="@org/settings"></application>
  </route>

  -->

  <!-- <nav>
    <application name="@single-spa/navbar"></application> 
  </nav>  -->
  <main>
    <redirect from="/" to="/login"></redirect>
    <!-- login -->
    <route path="/login">
      <application name="@single-spa/mf-login"></application>
      <!-- <route path=":id">
        <application name="@single-spa/related-products"></application>
      </route> -->
    </route>
    <!-- dashboard -->
    <route path="/dashboard">
      <application name="@single-spa/mf-dashboard"></application>
    </route>
    <!-- default -->
    <route default>
      <h1>404 Not Found</h1>
    </route>
  </main>

  <!-- <main>
    <route default>
      <application name="@single-spa/mf-login"></application>
    </route>
  </main> -->
</single-spa-router>
